
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Welcome to my Site!!</title>
    <link rel='stylesheet' type="text/css" href = "/css/base.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
        <%- include ../partials/navbar %>
            
    <div class="container-fluid bg-1 text-center">
        <h3>Who am I?</h3>
        <img src = "/images/messi.jpg" class="img-responsive" alt="Messi" width="800" height="600" >
        <h3>I'm a Footballer</h3>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h3>What Am I?</h3>
        <p>Lorem ipsum..</p>
    </div>
          
    <div class="container-fluid bg-3 text-center">
        <h3>Where To Find Me?</h3>
        <p>Lorem ipsum..</p>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
              <p>Marco Ascensio..</p>
              <img src="/images/ascensio.jpg" class="img-responsive  alt="Messi" width="400" height="400" alt="Image">
        </div>
        <div class="col-sm-4">
              <p>Ivan Rakitic..</p>
              <img src="/images/rakitic.jpg" class="img-responsive  alt="Messi" width="400" height="400" alt="Image">
        </div>
        <div class="col-sm-4"> 
              <p>Lorem ipsum..</p>
            <img src="/images/coutinho.jpg" class="img-responsive  alt="Messi" width="400" height="400" alt="Image">
        </div>
    </div>
  </body>
</html>
