.forgot-password-subtitle {
  color: #535766;
}
.forgot-password-container {
  background: linear-gradient(to bottom right, #feedf6, #fcf0e2);
  text-align: center;
  padding-top: 30px;
  position: relative;
  padding-bottom: 40px;
}

.forgot-password-box {
  background-color: white;
  padding: 20px 10px;
  width: 440px;
  display: inline-block;
  margin-left: 5px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.forgot-password-title {
  display: block;
  font-size: 32px;
  margin-top: 15px;
  color: #535766;
}

.forgot-password-form {
  display: block;
  margin-top: 0em;
  padding-left: 20px;
  padding-right: 20px;
}

.forgot-password-input-container {
  border: 1px solid #bfc0c6;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 18px;
  margin-top: 50px;
}
.forgot-password-input-item {
  position: relative;
}

.forgot-password-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.forgot-password-user-input {
  display: block;
  color: #282c3f;
  padding-right: 40px;
  font-size: 15px;
  width: 100%;
  border: 0px;
  padding: 15px;
}

.forgot-password-button-container {
  padding: 10px 20px;
  margin: 0px;
  border: 0px;
}

.forgot-password-button {
  background-color: #ff527b;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: Whitney;
  cursor: pointer;
}

.forgot-password-right-links {
  float: center;
}

.forgot-password-create-account-link {
  margin-left: 5px;
}

.forgot-password-link {
  cursor: pointer;
  text-decoration: none;
  color: #ea5e8b;
  font-size: 13px;
}
